@charset "UTF-8";
/* htmlファイル内共通 */

/* page-top */
.page-top-kv {
  height: 600px;
  position: relative;
}

.page-top-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 90%;
}

.page-top-ttl {
  line-height: 1;
}

.page-top-content small {
  font-size: 1.8rem;
}

/* top-color */
.top-color {
  position: relative;
}

.top-color::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(
    to bottom,
    rgba(133, 168, 221, 1),
    rgba(217, 217, 217, 0)
  );
}

/* section */
.page-sec-ttl {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.sec-ttl-center {
  width: 100%;
}

.page-sec-ttl::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.8rem;
  display: inline-block;
  width: 80px;
  height: 5px;
  transform: translateX(-50%);
  background-color: #000;
  border-radius: 2px;
}

/* 応募フォーム */
.form-inner {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 4rem;
}

.form-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
  height: 3rem;
  line-height: 3rem;
}

.form-item-bg {
  height: 8rem;
}

.form-item_name {
  font-weight: bold;
  text-align: right;
  font-size: 1.3rem;
  width: 26%;
  padding-right: 1rem;
}

.form-item-primary,
.form-item-option {
  position: relative;
}

.form-item-primary::after {
  content: "必須";
  position: absolute;
  top: 50%;
  right: -3rem;
  transform: translateY(-50%) translateX(0);
  text-align: center;
  width: 4rem;
  line-height: 2.5;
  font-size: 0.8rem;
  color: #fff;
  background: #1a7ff4;
  border-radius: 20px;
}

.form-item-option::after {
  content: "任意";
  position: absolute;
  top: 20%;
  right: -3rem;
  transform: translateY(-50%) translateX(0);
  text-align: center;
  width: 4rem;
  line-height: 2.5;
  font-size: 0.8rem;
  color: #fff;
  background: #8d939b;
  border-radius: 20px;
}

.form-box {
  vertical-align: middle;
  width: 64%;
}

.form-input-select {
  display: flex;
}

select,
option {
  border: none;
  border-radius: 5px;
  height: 2rem;
 
}

.form-input-select + .form-input-select {
  margin-left: 1.5rem;
}


.year-box {
  width: 4.5rem;
}

.month-box,
.day-box {
  width: 3.3rem;
}

.year-box,
.month-box,
.day-box {
  font-size: 1.2rem;
}

.date-of-birth {
  display: flex;
}

.select-label {
  margin-left: 0.5rem;
  line-height: 3rem;
}

.form-txt {
  width: 100%;
  padding: 2%;
  background-color: #fff;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.1rem;
}

.form-textarea {
  width: 100%;
  padding: 2%;
  background-color: #fff;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 8rem;
  border-radius: 10px;
}

.check-item,
.form-input-select {
  font-weight: 500;
}

.check-item {
  font-size: 1.4rem;
}

.check-item:first-child {
  margin-right: 2rem;
}

input[type="checkbox"] {
  transform: scale(2);
  margin-right: 1rem;
}

/* 送信ボタン */
.form-btn-area {
  width: 240px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-top: 3rem;
}

.form-btn-area::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0.6rem;
  bottom: 0;
  width: 0.6rem;
  height: 0.6rem;
  transform: rotate(45deg);
  margin: auto;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.form-btn {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #1a7ff4;
  color: #fff;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  letter-spacing: 0.06rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  /* page-top */
  .page-top-kv {
    height: 500px;
  }

  .page-top-content small {
    font-size: 1.5rem;
  }

  .page-top-content p {
    font-size: 1.4rem;
  }

  .page-sec-ttl::after {
    width: 60px;
    height: 4px;
  }

  /* 応募フォーム */

  .form-item {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: unset;
    line-height: 2rem;
  }

  .form-item_name {
    padding-right: unset;
  }

  .form-item-primary::after,
  .form-item-option::after {
    right: -3rem;
    width: 3rem;
    line-height: 2;
    font-size: 0.6rem;
  }

  .form-box {
    width: 100%;
    margin-top: 1%;
  
  }

  .form-item-option::after {
    top: 50%;
  }

  .check-item {
    font-size: 1.2rem;
  }
  .form-txt {
    font-size: 1rem;
  }

  .form-txt,
  .form-textarea {
    width: 100%;
  }

  select,
  option {
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
  }

  .year-box,
.month-box,
.day-box {
  font-size: 1rem;
}

  .form-input-select + .form-input-select {
    margin-left: 0.5rem;
  }

  .form-input-select{
    height: 2.5rem;
    line-height: 2.5rem;
  }

  .select-label{
    line-height: 2.5rem;
  }


}

/* sp */
@media screen and (max-width: 480px) {
  /* page-top */
  .page-top-kv {
    height: 300px;
  }

  .page-top-content small {
    font-size: 0.85rem;
  }

  .page-top-content p {
    font-size: 0.85rem;
    line-height: 1.2;
  }

  .page-sec-ttl::after {
    width: 40px;
    height: 3px;
  }

  /* contact-form */
  .form-item {
    line-height: 1rem;
  }

  .form-item_name {
    font-size: 1rem;
    font-weight: 500;
  }

  .form-item-primary::after,
  .form-item-option::after {
    right: -3rem;
    width: 3rem;
    line-height: 2;
    font-size: 0.6rem;
  }

  .form-box {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .check-item {
    font-size: 1rem;
  }

  input[type="checkbox"] {
    transform: scale(1.2);
  }

  .form-txt {
    height: 2rem;
    font-size: 0.7rem;
  }

  .form-textarea {
    height: 5rem;
  }

  .form-input-select + .form-input-select {
    margin-left: 0.5rem;
  }

  .form-input-select{
    height: 1rem;
    line-height: 1rem;
  }

  .select-label{
    height: 1.5rem;
    line-height: 1.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
  }


  .year-box {
    width: 3.4rem;
  }

  .month-box,
  .day-box {
    width: 2.4rem;
  }
  .year-box,
  .month-box,
  .day-box {
    font-size: 0.85rem;
  }

  select,
  option {
    height: 1.5rem;
    line-height: 1.5rem;
  }



  /* 送信ボタン */
  .form-btn-area {
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 5%;
  }

  .form-btn-area::after {
    width: 0.5rem;
    height: 0.5rem;
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
  }

  .form-btn {
    font-size: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }


}
