@charset "UTF-8";
/* service-top */
.service-kv {
  background: linear-gradient(
      to bottom,
      rgba(45, 96, 158, 0.7),
      rgba(18, 94, 183, 0.5)
    ),
    url(../img/service.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.service-ttl {
  padding-top: 3rem;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
}

.service-content_txt {
  padding-top: 5%;
  font-size: 1.5rem;
  font-weight: bold;
}

.service-content h3 {
  font-size: 3.2rem;
}

/* feature */
.feature {
  padding-bottom: 30%;
}
.feature-ttl {
  font-weight: bold;
  padding-bottom: 1rem;
}

.feature-item {
  width: 90%;
  position: relative;
  margin-bottom: 25%;
}

.feature-item:last-child {
  margin-bottom: unset;
}

.feature-item:nth-child(even) {
  margin-right: 0;
  margin-left: auto;
}

.feature-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.feature-txt-box {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  height: auto;
}

.feature-item:nth-child(even) .feature-txt-box {
  right: 0;
  left: auto;
}

.feature-txt {
  padding: 5%;
}

.feature-item-head {
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  vertical-align: middle;
}

.feature-item-index {
  padding-right: 15px;
  border-right: 2px solid rgba(81, 79, 79, 0.8);
}

.feature-item-index span {
  display: inline-block;
}

.feature-item-index span:first-child {
  font-size: 1.2rem;
}

.feature-item-index span:last-child {
  font-size: 1.8rem;
}

.feature-item-ttl {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.feature-item-desc {
  text-align: justify;
  font-weight: bold;
  font-size: 1.2rem;
}

/* レスポンシブ */
/* タブレット */
@media screen and (max-width: 768px) {
  .service-content h3 {
    font-size: 2.4rem;
  }

  .service-content_txt {
    font-size: 1.2rem;
  }

  /* feature */
  .feature-item {
    width: 100%;
    margin-bottom: 25%;
  }

  .feature-img {
    height: 400px;
  }

  .feature-img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .feature-txt-box {
    width: 100%;
  }

  .feature-item-index span:first-child {
    font-size: 1rem;
    line-height: 0;
  }

  .feature-item-index span:last-child {
    font-size: 1.3rem;
    line-height: 0;
  }

  .feature-item-ttl {
    font-size: 1.7rem;
  }
}

/* sp */
@media screen and (max-width: 480px) {
  .service-content h3 {
    font-size: 1.8rem;
  }

  .service-content_txt {
    font-size: 0.85rem;
  }

  /* feature */
  .feature {
    padding-bottom: 10%;
  }

  .feature-txt-box {
    bottom: 0;
    top: 40%;
  }

  .feature-item {
    margin-bottom: 10%;
  }

  .feature-item-index span:first-child {
    font-size: 0.8rem;
  }

  .feature-item-index span:last-child {
    font-size: 1.2rem;
  }

  .feature-item-ttl {
    font-size: 1.2rem;
  }

  .feature-item-desc {
    font-size: 0.85rem;
  }
}
